# Application: energy consumption in Netherland (2009-2019)

Three network administrators (Enexis, Liander and Stedin) provide energy (electricty and gas) to almost all Netherland. These companies provide information about:

1. **net_manager**: regional network manager code 
2. **purchase_area**: code area where the energy is purchased
3. **street**: street name
4. **zipcode_from**: zip postal codes at the beginning of the street
5. **zipcode_to**: zip postal codes at the end of the street 
6. **city**: city name
7. **num_connections**: Number of connections in the range of zip postal codes of the street
8. **delivery_perc**: % of the net energy consumption.
9. **perc_of_active_connections**: % of active connections in the zipcode range
10. **type_of_connection**: principal type of connection in the zipcode range. For electricity is # fuses x # amp√®res. For gas is G4, G6, G10, G16, G25
11. **type_conn_perc**: % of presence of the principal type of connection in the zipcode range
12. **annual_consume**: Annual energy consumption (Kwh for electricity, and m3 for gas)
13. **annual_consume_lowtarif_perc**: % of consumption during the low tarif time periods (from 10 p.m. to 7 a.m. and during weekends)
14. **smartmeter_perc**: % of smartmeters in the zipcode ranges
    
The data (in .csv format) are available at https://www.kaggle.com/lucabasa/dutch-energy
    
In the present application, we will work with the electrictiy data for 2019 (file called *enexis_electricity_01012019.csv*) to illustrate the standard data manipulation process in Python.

# Load the CSV files as data frames

In [1]:
from pandas import read_csv
data = read_csv('enexis_electricity_01012019.csv', sep = ',')

# Data visualization

In [2]:
data                # view the data
data.head(10)       # view the first 10 rows of data
data.tail(10)       # view the last  10 rows of data
#data = data.rename(index = lambda x: x + 1) # index from 1 to n

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
124576,Enexis B.V.,ENEXIS,Molenhorn,9997PN,9997PN,ZANDEWEER,18,66.67,100,61.11,3x25,2769.11,29.24,27.78
124577,Enexis B.V.,ENEXIS,Noorderweg,9997PP,9997PP,ZANDEWEER,23,95.65,100,65.22,3x25,6780.57,46.27,13.04
124578,Enexis B.V.,ENEXIS,Domies Laand,9997PR,9997VG,ZANDEWEER,14,71.43,100,78.57,3x25,3662.57,46.96,50.00
124579,Enexis B.V.,ENEXIS,Doodstilsterweg,9998NJ,9998NZ,ROTTUM GN,24,75.00,100,41.67,3x25,10271.17,54.62,62.50
124580,Enexis B.V.,ENEXIS,'t-Lage eind,9998XA,9998XA,ROTTUM GN,14,64.29,100,57.14,3x25,3253.86,39.92,78.57
124581,Enexis B.V.,ENEXIS,Jacob Tilbusscherweg,9998XB,9998XB,ROTTUM GN,21,76.19,100,57.14,3x25,7034.57,47.49,76.19
124582,Enexis B.V.,ENEXIS,Jan Boerweg,9998XC,9998XD,ROTTUM GN,20,60.00,100,55.00,3x25,2170.80,41.79,55.00
124583,Enexis B.V.,ENEXIS,Knolweg,9998XE,9999XG,ROTTUM GN,13,23.08,100,53.85,3x25,10193.92,51.67,100.00
124584,Enexis B.V.,ENEXIS,Stitswerderweg,9999XH,9999XJ,STITSWERD,16,56.25,100,62.50,3x25,6795.38,39.54,68.75
124585,Enexis B.V.,ENEXIS,Stiel,9999XK,9999XL,STITSWERD,21,66.67,100,47.62,3x25,2580.71,40.03,71.43

# Data characterization

In [3]:
type(data)          # object‚Äôs type
data.shape          # data dimension
len(data)           # length of data
data.shape[0]       # length of data (number of rows)
data.shape[1]       # number of variables (columns)
data.info()         # data information (very similar to data.dtypes)
data.describe()     # statistical summarize
data.columns        # colnames
data.columns.values 
data.index          # index names
data.index.values

data.net_manager.unique().tolist()             # list of unique values
data.purchase_area.unique().tolist()
data.type_of_connection.unique().tolist()
len(data.street.unique().tolist())             # number of unique values
len(data.city.unique().tolist())               
len(data.type_of_connection.unique().tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124586 entries, 0 to 124585
Data columns (total 14 columns):
net_manager                     124586 non-null object
purchase_area                   124586 non-null object
street                          124586 non-null object
zipcode_from                    124586 non-null object
zipcode_to                      124586 non-null object
city                            124586 non-null object
num_connections                 124586 non-null int64
delivery_perc                   124181 non-null float64
perc_of_active_connections      124586 non-null int64
type_conn_perc                  124586 non-null float64
type_of_connection              124586 non-null object
annual_consume                  124586 non-null float64
annual_consume_lowtarif_perc    124586 non-null float64
smartmeter_perc                 124586 non-null float64
dtypes: float64(5), int64(2), object(7)
memory usage: 13.3+ MB

10

# Saving Data frames

In [52]:
data.to_csv('example.csv')
data.to_csv('example1.txt', sep=',')
data.to_csv('example2.txt', sep=' ')
data.to_csv('example3.txt', sep='\t')

# Extracting (subsetting or filtering) data from a data frame

In [8]:
data[0:5]                                               # extract specific range of rows
data[0:6:2]                                             # slice of data from i to j with step k
data[0:5][['city','street','zipcode_from','zipcode_to','annual_consume']]   # extract specific range of rows for a list of variables
data[['smartmeter_perc']]                               # extract a column. Also data['smartmeter_perc']
data[['type_of_connection', 'type_conn_perc']]          # extract specific columns

# Filter by index label
data.loc[5:10, 'street':'city']                         # extract specific range of row labels for a range of variables
data.loc[[1, 13, 29], :]                                # extract specific row labels for all variables
data.loc[:, ['type_of_connection', 'type_conn_perc']]   # extract specific columns (variables) for all indexes
data.loc[4, 'annual_consume']                           # extract a specific cell (row label and variable)

# Filter by index position
data.iloc[5:10,0:6]                                     # extract specific range of row indexes for a range of variables (not using labels)
data.iloc[:,0:6]
data.iloc[5:10,:]
data.iloc[[1, 1000, 2900], [2, 5, 7, 11]]
data.head(5)

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
0,Enexis B.V.,ENEXIS,Sasdijk,4251AA,4251AA,WERKENDAM,42,100.00,100,50.00,3x25,5459.71,28.82,11.90
1,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,17,100.00,100,41.18,1x25,4614.24,34.24,41.18
2,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,11,81.82,100,63.64,1x25,2520.73,34.31,36.36
3,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,28,100.00,100,39.29,3x25,4275.46,38.34,28.57
4,Enexis B.V.,ENEXIS,Heuveltje,4251AE,4251AG,WERKENDAM,21,90.48,100,42.86,1x25,4620.24,60.18,33.33

## Filter by column value (conditions)

In [9]:
data[data['city'] == 'WERKENDAM']
data[data.city == 'WERKENDAM']
data.loc[(data.city == 'WERKENDAM')]
data.loc[(data['city'] == 'WERKENDAM')]
data.query('city == "WERKENDAM"')

#
data[(data.city == 'WERKENDAM') & (data.num_connections > 45)]
data.loc[(data.city == 'WERKENDAM') & (data.num_connections > 45)]
data.query('city == "WERKENDAM" & num_connections > 45')

#
data[(data.city == 'WERKENDAM') & (data.num_connections > 42) & (data.num_connections <= 69)]
data.loc[(data.city == 'WERKENDAM') & (data.num_connections > 42) & (data.num_connections <= 69)]
data.query('city == "WERKENDAM" & 42 < num_connections <= 69')

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
46,Enexis B.V.,ENEXIS,Richter,4251DA,4251DA,WERKENDAM,43,93.02,100,69.77,1x35,4384.33,25.98,9.30
47,Enexis B.V.,ENEXIS,Richter,4251DB,4251DB,WERKENDAM,69,59.42,100,56.52,3x25,3477.13,36.65,50.72
48,Enexis B.V.,ENEXIS,Korte Gang,4251DC,4251DD,WERKENDAM,51,96.08,100,39.22,1x25,3581.22,20.99,13.73
51,Enexis B.V.,ENEXIS,Binnengriend,4251DH,4251DH,WERKENDAM,46,97.83,100,89.13,1x35,2183.00,24.18,10.87
57,Enexis B.V.,ENEXIS,Richter,4251DR,4251DR,WERKENDAM,43,86.05,100,46.51,3x25,3014.09,46.11,44.19
77,Enexis B.V.,ENEXIS,De Erker,4251EZ,4251EZ,WERKENDAM,54,100.00,100,92.59,1x25,1941.26,16.81,5.56
81,Enexis B.V.,ENEXIS,Wilgenlaan,4251GE,4251GE,WERKENDAM,64,92.19,100,45.31,1x35,3526.38,12.50,15.63
147,Enexis B.V.,ENEXIS,Weerenweg,4251LB,4251LC,WERKENDAM,45,100.00,100,31.11,3x25,23182.93,31.95,28.89
194,Enexis B.V.,ENEXIS,Raadhuislaan,4251VS,4251VS,WERKENDAM,59,96.61,100,52.54,1x35,2696.92,45.53,13.56
225,Enexis B.V.,ENEXIS,Lange Wiep,4251XZ,4251ZA,WERKENDAM,45,97.78,100,51.11,1x35,2834.11,21.29,20.00

## Selecting random samples

In [10]:
data.sample(n=6, replace=False) # sampling a number of observations
data.sample(frac=0.001)         # sampling a fraction of observations

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
23776,Enexis B.V.,ENEXIS,Neerstraat,5215AR,5215AR,'S-HERTOGENBOSCH,22,100.00,100,81.82,1x35,3119.27,48.35,77.27
72683,Enexis B.V.,ENEXIS,Dommelstraat,6413VX,6413VX,HEERLEN,10,100.00,100,60.00,1x35,3729.70,43.74,10.00
92386,Enexis B.V.,ENEXIS,van Bothnialaan,7742WE,7742WE,COEVORDEN,19,78.95,100,52.63,1x35,3200.05,46.34,100.00
66786,Enexis B.V.,ENEXIS,Berceusestraat,6217EK,6217EK,MAASTRICHT,20,95.00,100,60.00,1x25,3773.50,50.22,75.00
52822,Enexis B.V.,ENEXIS,Beekveld,5864CK,5864CM,MEERLO,11,100.00,100,72.73,3x25,5421.18,53.39,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92377,Enexis B.V.,ENEXIS,Oranjewijk,7742VP,7742VP,COEVORDEN,14,7.14,100,100.00,1x35,1581.14,47.20,100.00
69147,Enexis B.V.,ENEXIS,Irenestraat,6267AX,6267AX,CADIER EN KEER,11,81.82,100,72.73,1x25,2865.18,30.78,18.18
7115,Enexis B.V.,ENEXIS,Blaaksedijk,4793RN,4793RN,FIJNAART,18,83.33,100,55.56,3x25,13366.44,53.74,77.78
51309,Enexis B.V.,ENEXIS,Kogeldistel,5803HM,5803HM,VENRAY,23,78.26,100,91.30,1x35,3183.96,53.04,39.13
15460,Enexis B.V.,ENEXIS,Jozef Israelsstraat,5025NT,5025NT,TILBURG,17,88.24,100,100.00,1x35,2665.94,52.32,88.24

# Concatenation

In [11]:
# Refer for details to https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
import pandas as pd

data_2018 = pd.read_csv('enexis_electricity_01012018.csv', sep = ',')
data_2019 = pd.read_csv('enexis_electricity_01012019.csv', sep = ',')

data_2018.shape      # (124163, 14)
data_2019.shape      # (124586, 14)

D1 = pd.concat([data_2018, data_2019], axis=0, ignore_index=True) # concatenate DataFrames along rows
D1.shape             # (248749, 14)

# Add a "year" columns to the datasets
newdata_2018 = data_2018.assign(year = 2018)
newdata_2018.shape   # (124163, 15)
newdata_2018.head(5)

newdata_2019 = data_2019.assign(year = 2019)
newdata_2019.shape   # (124586, 15)
newdata_2019.head(5)

D2 = pd.concat([newdata_2018, newdata_2019], axis=0, ignore_index=True)
D2.shape             # (248749, 15)
D2

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
0,Enexis B.V.,ENEXIS,Sasdijk,4251AA,4251AA,WERKENDAM,42,100.00,100,50.00,3x25,5860.21,28.31,7.14,2018
1,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,17,100.00,100,41.18,1x25,4149.24,28.33,29.41,2018
2,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,11,81.82,100,63.64,1x25,2389.27,34.60,36.36,2018
3,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,29,100.00,100,41.38,3x25,3866.21,32.11,17.24,2018
4,Enexis B.V.,ENEXIS,Heuveltje,4251AE,4251AG,WERKENDAM,21,90.48,100,42.86,1x25,4416.52,57.26,33.33,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248744,Enexis B.V.,ENEXIS,Jacob Tilbusscherweg,9998XB,9998XB,ROTTUM GN,21,76.19,100,57.14,3x25,7034.57,47.49,76.19,2019
248745,Enexis B.V.,ENEXIS,Jan Boerweg,9998XC,9998XD,ROTTUM GN,20,60.00,100,55.00,3x25,2170.80,41.79,55.00,2019
248746,Enexis B.V.,ENEXIS,Knolweg,9998XE,9999XG,ROTTUM GN,13,23.08,100,53.85,3x25,10193.92,51.67,100.00,2019
248747,Enexis B.V.,ENEXIS,Stitswerderweg,9999XH,9999XJ,STITSWERD,16,56.25,100,62.50,3x25,6795.38,39.54,68.75,2019
248748,Enexis B.V.,ENEXIS,Stiel,9999XK,9999XL,STITSWERD,21,66.67,100,47.62,3x25,2580.71,40.03,71.43,2019

# More about concatenation

In [17]:
D3 = pd.concat([newdata_2018, newdata_2019], axis=1)           # Concatenate columns (similar to cbind() in R)
D3.shape # (124586, 30)
D3

D4 = pd.concat([newdata_2018.reindex(newdata_2019.index), newdata_2019], axis=1) # Concatenate columns (similar to cbind() in R)
D4.shape # (124586, 30)
D4

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,...,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
0,Enexis B.V.,ENEXIS,Sasdijk,4251AA,4251AA,WERKENDAM,42.0,100.00,100.0,50.00,...,WERKENDAM,42,100.00,100,50.00,3x25,5459.71,28.82,11.90,2019
1,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,17.0,100.00,100.0,41.18,...,WERKENDAM,17,100.00,100,41.18,1x25,4614.24,34.24,41.18,2019
2,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,11.0,81.82,100.0,63.64,...,WERKENDAM,11,81.82,100,63.64,1x25,2520.73,34.31,36.36,2019
3,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,29.0,100.00,100.0,41.38,...,WERKENDAM,28,100.00,100,39.29,3x25,4275.46,38.34,28.57,2019
4,Enexis B.V.,ENEXIS,Heuveltje,4251AE,4251AG,WERKENDAM,21.0,90.48,100.0,42.86,...,WERKENDAM,21,90.48,100,42.86,1x25,4620.24,60.18,33.33,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ROTTUM GN,21,76.19,100,57.14,3x25,7034.57,47.49,76.19,2019
124582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ROTTUM GN,20,60.00,100,55.00,3x25,2170.80,41.79,55.00,2019
124583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ROTTUM GN,13,23.08,100,53.85,3x25,10193.92,51.67,100.00,2019
124584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,STITSWERD,16,56.25,100,62.50,3x25,6795.38,39.54,68.75,2019
124585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,STITSWERD,21,66.67,100,47.62,3x25,2580.71,40.03,71.43,2019

## Remove (columns and rows) and rename column names and row indexes
Note that **net_manager** and **purchase_area** are practically the same, so we eliminate the **net_manager**, and rename the **purchase_area** by **manager**. Additionally, **perc_of_active_connections** is constant, so we eliminate this variable.

Also, we rename some variables for short names: **zipcode_from** by **zip_from**, **zipcode_to** by **zip_to**, **num_connections** by **connection**, **delivery_perc** by **delivery_%**, **type_conn_perc** by **type_conn_%**, **type_of_connection** by **type_connection**, **annual_consume** by **consumption**, 
**annual_consume_lowtarif_perc** by **consumption_lowtarif_%**, and **smartmeter_perc** by **smartmeter_%**.

In [18]:
import pandas as pd

data = pd.read_csv('enexis_electricity_01012019.csv', sep = ',')

data_new = data.drop(columns=['net_manager', 'perc_of_active_connections']) # also data.drop(['net_manager', 'perc_of_active_connections'], axis=1)
data_new
data_new.rename(columns={'purchase_area': 'manager',
                         'zipcode_from': 'zip_from',
                         'zipcode_to': 'zip_to',
                         'num_connections': 'connections',
                         'delivery_perc': 'delivery_%',
                         'type_conn_perc': 'type_conn_%',
                         'type_of_connection': 'type_connection',
                         'annual_consume': 'consumption',
                         'annual_consume_lowtarif_perc': 'consumption_lowtarif_%',
                         'smartmeter_perc': 'smartmeter_%'}
                , inplace=True)
data_new.head(10)
#print(data_new.columns)

,manager,street,zip_from,zip_to,city,connections,delivery_%,type_conn_%,type_connection,consumption,consumption_lowtarif_%,smartmeter_%
0,ENEXIS,Sasdijk,4251AA,4251AA,WERKENDAM,42,100.00,50.00,3x25,5459.71,28.82,11.90
1,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,17,100.00,41.18,1x25,4614.24,34.24,41.18
2,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,11,81.82,63.64,1x25,2520.73,34.31,36.36
3,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,28,100.00,39.29,3x25,4275.46,38.34,28.57
4,ENEXIS,Heuveltje,4251AE,4251AG,WERKENDAM,21,90.48,42.86,1x25,4620.24,60.18,33.33
5,ENEXIS,Koppenhof,4251AH,4251AH,WERKENDAM,13,100.00,38.46,1x25,3037.38,40.24,38.46
6,ENEXIS,Plein,4251AJ,4251AJ,WERKENDAM,26,100.00,38.46,1x25,5317.81,32.82,23.08
7,ENEXIS,Zevenhuizen,4251AK,4251AL,WERKENDAM,11,100.00,54.55,3x25,2473.82,44.87,18.18
8,ENEXIS,Krommesteeg,4251AM,4251AN,WERKENDAM,14,100.00,50.00,1x25,2962.21,25.46,21.43
9,ENEXIS,Van Brakelsteeg,4251AP,4251AR,WERKENDAM,12,100.00,50.00,1x25,2035.58,30.54,16.67

# Sort Data Frames

In [23]:
data_new.sort_values(by=['consumption'], ascending=True, na_position='first')
#data_new.sort_values(by=['consumption', 'delivery_%'], ascending=True, na_position='last')

,manager,street,zip_from,zip_to,city,connections,delivery_%,type_conn_%,type_connection,consumption,consumption_lowtarif_%,smartmeter_%
123268,ENEXIS,Vlamoven,9934ND,9934ND,DELFZIJL,13,100.00,92.31,1x35,60.92,2.90,38.46
93858,ENEXIS,Helmbloemwal,7813CJ,7813CJ,EMMEN,16,100.00,93.75,1x40,165.44,51.87,100.00
105952,ENEXIS,Langeloerduinen 4,9331WT,9331WT,NORG,35,100.00,97.14,1x40,468.63,7.95,8.57
1639,ENEXIS,Bommesee,4614XT,4614XT,BERGEN OP ZOOM,44,100.00,97.73,1x25,472.27,57.97,100.00
123876,ENEXIS,Oosterlaagte,9965SH,9965SH,LEENS,15,100.00,100.00,1x40,600.20,45.48,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...
32856,ENEXIS,Het Goor,5427PH,5427PH,BOEKEL,14,92.86,28.57,3x80,58223.14,42.81,42.86
76869,ENEXIS,Brink,7411BS,7411BS,DEVENTER,11,81.82,27.27,1x35,58555.00,40.89,72.73
13313,ENEXIS,Plukmadeseweg,4921AW,4921AW,MADE,11,90.91,36.36,3x63,58623.91,55.63,63.64
50191,ENEXIS,Lupinenweg,5753SC,5753SC,DEURNE,10,100.00,50.00,3x25,63938.40,50.94,50.00
42474,ENEXIS,Esp,5633AD,5633AE,EINDHOVEN,11,81.82,54.55,3x63,66823.00,43.40,100.00

# Group dataframes by variables and functions of variables
See https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [41]:
D2.groupby(['year'])['annual_consume'].mean()            # group by year the mean consumption
D2.groupby(['year'])['num_connections'].sum()            # group by year the sum of connections
D2.groupby(['year'])['smartmeter_perc'].mean()           # group by year the mean of the % of smartmeters

data_new.groupby(['city'])['consumption'].mean()         # group by cities according to the mean consumption
data_new.groupby(['city']).agg({'consumption': 'mean'})  # also
data_new.groupby(['city']).agg({'consumption': 'sum'})   # group by cities according to the aggregated consumption
data_new.groupby(['city'])['consumption'].sum()          # also group by cities according to the mean consumption
data_new.groupby(['city'])['consumption'].std()          # group by cities according to the standard deviation of the consumption

city
'S GRAVENMOER       2298.802536
'S-HEERENBROEK      3418.770208
'S-HERTOGENBOSCH    4204.236138
'T HAANTJE           535.774809
'T WAAR              540.532019
                       ...
ZWARTSLUIS          2918.914377
ZWEELOO             3660.823927
ZWIGGELTE           9563.477779
ZWINDEREN           4940.259459
ZWOLLE              3597.522112
Name: consumption, Length: 1066, dtype: float64